.event .details {
  padding: 0.2em 0.2em 1em 0.2em;
}
.event .content {
  border-top: 1px dashed #999;
  padding-top: 0.8em;
}
.event .details .form-item, .node .event .details .form-item .title {
  color: #999;
}
.event .details .form-item .title {
  display: inline;
  padding-right: 0.2em;
}

.event-calendar table {
  border: 1px solid #242;
  border-collapse: collapse;
  border-spacing: 0;
}
.event-calendar tr {
  padding: 0;
  margin: 0;
}
.event-calendar th {
  color: #000;
  background: #aac;
  font-size: 120%;
  text-align: center;
  padding: 1px 0.33em;
  border: 1px solid #242;
}
.event-calendar th.heading {
  border-width: 1px 0px;
}
.event-calendar th.prev {
  text-align: left;
  border-width: 1px 0px 1px 1px;
}
.event-calendar th.next {
  text-align: right;
  border-width: 1px 1px 1px 0px;
}
.event-calendar th a {
  font-weight: bold;
  color: #363636;
}
.event-calendar td {
  border: 1px solid #bbb;
  color: #777;
  text-align: right;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.event-calendar td a {
  font-weight: bold;
  text-decoration: none;
}
.event-calendar tr {
  background: white;
}
.event-calendar td.sat, .event-calendar td.sun {
  background: #fdd;
}
.event-calendar td.today {
  background: #f99;
}
.event-calendar td.selected {
  background: #99f;
}
.event-calendar td.days {
  color: #cce;
  background: #224;
  font-weight: bold;
  text-align: center;
  padding: 1px 0.33em;
  border: 1px solid #242;
  border-width: 0 1px 1px 0;
}

#event .event-calendar table {
  width: 100%;
}
#event .event-calendar td {
  width: 14.3%;
}
.event-calendar div.event {
  text-align: left;
  margin: 0.25em 0 1em 0.25em;
}
.event-calendar div.day {
  float: right;
  text-align: center;
  border: 1px solid gray;
  border-width: 0 0 1px 1px;
  padding: 0.125em 0.25em 0 0.25em;
  margin: 0;
  background: #f3f3f3;
}
.event-calendar div.event span {
  display: block;
  color: #000;
  padding: 0;
  margin: 0;
}
.event-calendar div.event span.time {
  font-weight: bold;
}
.time {
  padding: 20px;
}
.event-calendar div.event span.title a {
  font-weight: normal;
  font-size: 0.9em;
  color: #000;
}
.event-calendar div.event span.location {
  font-style: italic;
  color: #555;
}
#event .event-calendar .event-empty {
  min-height: 6em;
}
